.formControl {
        width: 30%;
        justify-content: center;
        margin-bottom: 30px !important;
        margin-top: 30px !important;
        margin-left:120px !important;
        align-items: center;
      }

